

FullyHorizontalCollectionView.xcodeproj/project.xcworkspace/xcuserdata/philippeauriach.xcuserdatad/UserInterfaceState.xcuserstate

FullyHorizontalCollectionView.xcodeproj/xcuserdata/philippeauriach.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

FullyHorizontalCollectionView.xcodeproj/xcuserdata/philippeauriach.xcuserdatad/xcschemes/FullyHorizontalCollectionView.xcscheme

FullyHorizontalCollectionView.xcodeproj/xcuserdata/philippeauriach.xcuserdatad/xcschemes/xcschememanagement.plist
